@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src=@Model.Contact.Picture.Large alt="medium">
            <div class="caption">
                <h3>@Model.Contact.Name.First @Model.Contact.Name.Last</h3>
                <address>
                    @Model.Contact.Location.Street<br />
                    @Model.Contact.Location.City, @Model.Contact.Nat @Model.Contact.Location.Postcode<br />
                    <abbr title="Phone">P:</abbr>
                    @Model.Contact.Cell
                    </address>
                    <p>
                        <a href="mailto:@Model.Contact.Email" class="btn btn-primary" role="button">Marketing</a> 
                        <a href="mailto:@Model.Contact.Email" class="btn btn-default" role="button">Support</a>
                    </p>
            </div>
        </div>
    </div>
</div>