@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<h1>@Model.Contact.Name.First @Model.Contact.Name.Last</h1>

<img src=@Model.Contact.Picture.Large alt="medium" />

<address>
    @Model.Contact.Location.Street<br />
    @Model.Contact.Location.City, @Model.Contact.Nat @Model.Contact.Location.Postcode<br />
    <abbr title="Phone">P:</abbr>
    @Model.Contact.Cell
</address>

<address>
    <strong>Support:</strong> <a href="mailto:@Model.Contact.Email">@Model.Contact.Email</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
